// colors
$border: #323233;

$fill-surface: #262836;
$fill-canvas: #1F1D2B;
$fill-quiet: #3B3D49;
$fill-blue: #459DE4;
$fill-red: #DA6863;
$fill-green: #55AD82;
$fill-quiet-bg: #3B3D49;

$text-default: #EEEEF1;
$text-quiet: #7F8190;
