.wrapper {
    position: relative;
    padding: 160px 40px;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .bg {
        position: absolute;
        top: 0;
        object-fit: cover;
        width: 100%;
        opacity: 0;
        height: 400px;
        animation: bgIn 2s cubic-bezier(0.42, 0, 0.08, 0.98);
        animation-delay: 0s;
        animation-direction: forwards;
        animation-fill-mode: forwards;
    }

    h1{
        opacity: 0;
        animation: fadeUp 1s cubic-bezier(0.42, 0, 0.08, 0.98);
        animation-delay: 0.75s;
        letter-spacing: 1px;
        animation-direction: forwards;
        animation-fill-mode: forwards;
    }
}

